<% content_for :body do %>
  <% @categories.each do |category| -%>
    <h2><%= link_to(category.name, '#' + dom_id(category)) %></h2>
    <%= render "list", :faqs => category.faqs %>
  <% end -%>

  <% if @uncategorized_faqs.any? -%>
    <h2><a href="#uncategorized_faqs">Uncategorized</a></h2>
    <%= render "list", :faqs => @uncategorized_faqs %>
  <% end -%>

  <% @categories.each do |category| -%>
    <h2 id="<%= dom_id(category) %>"><%= category.name %></h2>
    <%= render :partial => 'faq', :collection => category.faqs %>
  <% end -%>

  <% if @uncategorized_faqs.any? -%>
    <h2 id="uncategorized_faqs">Uncategorized</a></h2>
    <%= render :partial => 'faq', :collection => @uncategorized_faqs %>
  <% end -%>
<% end %>

<% content_for :side_body do %>
  <h3>FAQs</h3>
  <ul class="side-nav">
    <% @categories.each do |category| %>
      <li><%= link_to(category.name, '#' + dom_id(category)) %></li>
    <% end %>
    <% if @uncategorized_faqs.any? -%>
      <li><a href="#uncategorized_faqs">Uncategorized</a></li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
