<%= form_for [refinery, :faqs_admin, @faq] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @faq,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :category_id, "Category" -%>
    <%= f.select :category_id, Refinery::Faqs::Category.by_name.map {|c| [c.name, c.id]}, :include_blank => true -%>
  </div>

  <div class='field'>
    <%= f.label :question -%>
    <%= f.text_field :question, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:answer],
                :object => "faqs/faq" -%>
  </div>

  <div class='field'>
    <%= f.label :link -%>
    <%= f.text_field :link, :class => 'widest' -%>
  </div>

  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :featured, t('.featured') %>
      <%= refinery_help_tag t('.featured_help') %>
    </span>
    <%= f.check_box :featured, :checked => @faq[:featured] -%>
    <%= f.label :featured, t('.featured'), :class => 'stripped' -%>
  </div>

  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :hidden, t('.hidden') %>
      <%= refinery_help_tag t('.hidden_help') %>
    </span>
    <%= f.check_box :hidden, :checked => @faq[:hidden] -%>
    <%= f.label :hidden, t('.hidden'), :class => 'stripped' -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.faqs.admin.faqs.faq'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @faq.question) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
